
body {background-color: #ecebe8; margin: 0; font-family: sans-serif; font-size: 0.9em;}
header  div {background-color: #292929;}
h1 {padding: .5em .3em; margin: 0; color: #fff; border-bottom: .2em solid #86b410; line-height: 1em; background-color: #292929;}
h1 > span {float:right;}
button.add {color: #ecebe8; background-color: #292929; }
button:hover {color: #86b410;}
section.entries {clear:both; padding: 0 .5em; color: #8d8d8d;}
article {border-bottom: .1em solid #86b410;}
h2 {white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
h2.normal {white-space: normal;}
/* transitions don't seem to work with display: none|inline, different approach with height */
h2 + p {
  display: block;
  opacity: 0;
  height: 0;
  overflow: hidden;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
  -webkit-transform: translateZ(0); /* fix stutter on iOS, use GPU  */
}
h2 + p.active {opacity: 1; height: auto;}
.hide {display: none;} /* utility class */
input, textarea {width: 100%; padding: 0; line-height: 2em;  border: .2em solid #86b410;}
textarea {resize: none; height: 10em;}
input[type="submit"] {float: right; width: 40%; padding: .5em; font-weight: bold;}
input[type="button"] {float: left; width: 40%; padding: .5em;}
#wrapper-add-entry {padding: .6em;}
.details > .location {float: right; text-decoration: none;}
a, a:active, a:visited, a:hover {color: #86b410; cursor: pointer;}
a:active {font-weight: bold;}

